

.dashboard__products{
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;

  .products__filters{
    width: 100%;
    padding: 1rem;
    background-color: white;
    margin-bottom: 1rem;

    .filters__type{
      margin-bottom: 1rem;

      .type__title{
        font-weight: 500;
        margin-bottom: .5rem;
      }
    }

    .filters__type:last-of-type{
      margin-bottom: 0;
    }

    .items__filter{
      display: flex;
      justify-content: space-between;
      margin-bottom: .2rem;
    }

    .items__filter:last-of-type{
      margin-bottom: 0;
    }
  }

}


.products__results{
  overflow: scroll;
  scroll-behavior: smooth;
  padding-bottom: 4rem;
  width: 100%;

  .results__top-bar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
    // margin: 0 2rem;
  }

  .results__products{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 1rem;
  }

  .products__item{
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: white;
    width: 49%;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all .2s ease;

    .item__price{
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    .item__image{
      width: 70%;
    }

    .item__details{
      margin-bottom: 1rem;
    }

    .item__buttons{
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3.75rem;

      button{
        width: 50%;
        height: inherit;
        border: inherit;
        margin: 0;
        padding: 0;
        cursor: pointer;
        font-size: 1.4rem;
      }

      .buttons__edit{
        background-color: #F2F2F2;
        color: #3A3838;
      }

      .buttons__delete{
        background-color: #C55F5F;
        color: white;
      }
    }
  }

  .products__item:hover{
    border: .175rem solid lightgray;
  }
}

.search-modal.visible{
  visibility: visible;
  transform: translateY(0);
}

.search-modal.results{
  height: 100vh;
}

@media screen and ( width > 650px ){

  .search-modal__results{
    .products__item{
      width: 32%;
    }
  }

}


@media screen and ( width > 800px ){

  .dashboard__products{
    flex-direction: row;
    padding: 0 2rem;

    .products__filters{
      width: 30%;
    }

    .products__results{
      width: 70%;
    }

  }

  .search-modal__results{
    .products__item{
      width: 23.5%;
    }

  }
}