
*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family: 'DM Sans', Inter, 'Poppins', ;
  scroll-behavior: smooth;
}

body{
  background-color: $bg-color__main;
  color: $color__black-main;
  scroll-behavior: smooth;
}

main{
  padding-bottom: 5rem;
}

a{
  color: inherit;
  text-decoration: none;
}

h3{
  font-size: 1.4rem;
  padding: 1rem 1.8rem;
}

h4{
  font-size: 1.2rem;
  margin: .5rem;
}

.title-section{
  border-top: .125rem solid $border-color__default;
  border-bottom: .125rem solid $border-color__default;
}

.padding-wrap{
  padding-right: 1rem;
  padding-left: 1rem;
}

.margin-wrap{
  margin-right: 1rem;
  margin-left: 1rem;
}

.title-section{
  border-bottom: .125rem solid $border-color__default;
}



@media screen and (width > 800px) {

  main{
    padding-bottom: 0;
  }

}