
.new-product{

  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  label{
    margin-bottom: .5rem;
    font-weight: 500;
  }

  input, textarea, select{
    margin-bottom: 1rem;
    border: .125rem solid $border-color--default;
    padding: .5rem 1rem;
  }

  input:focus, textarea:focus, select:focus{
    border: .125rem solid $border-color--default;
    outline: .125rem solid #D9D9D9;
  }

  .diet-field{
    width: 100%;
    display: flex;
    flex-direction: column;

    .diet-field__tags{
      margin-bottom: 1.5rem;
      margin-top: .5rem;
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;

      .tags__tag{
        padding: .5rem 1rem;
        color: white;
        background-color: lightseagreen;
        border-radius: .3rem;
        cursor: pointer;
      }
    }
    select{
      width: 100%;
    }
  }

  input[type="submit"]{
    margin-top: 2rem;
  }

}