
.values-section{
  display: none;
  justify-content: space-around;
  padding: 2rem 1rem;

  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;

    img{
      width: 18%;
    }

    h3{
      font-weight: 600;
    }

    p{
      font-weight: 500;
    }
  }
}

@media screen and (width > 800px) {

  .values-section{
    display: flex;
  }

}