

// Global Colors

$color__black-main: #0B0B0B;
$color__rose-main: #FF6969;

$bg-color__main: #F9F9F9;



// Element Colors

$bg-color__categories-nav: #FFFFFF;
$text-color__categories-tabs__tab-item--default: #535353;
$text-color__categories-tabs__tab-item--active: #FF4A4C;
$text-color__categories-tabs__tab-item--hover: $color__black-main;
$border-color__default: $color__black-main;

$text-color__products__title: $color__black-main;

$bg-color__product-card__price-tag: #FFFFFF;
$text-color__product-card__price-tag: $color__black-main;
$bg-color__product-card__add-to-cart-btn--default: #FFF1D7;
$text-color__product-card__add-to-cart-btn--default: $color__black-main;
$bg-color__product-card__add-to-cart-btn--hover: $color__black-main;
$text-color__product-card__add-to-cart-btn--hover: #FFFFFF;
$bg-color__product-card__image: #F3F3F3;
$bg-color__product-card__info: #FFFFFF;
$text-color__product-card__name: $color__black-main;
$text-color__product-card__category: #494746;