* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "DM Sans", Inter, "Poppins";
  scroll-behavior: smooth;
}

body {
  background-color: #F9F9F9;
  color: #0B0B0B;
  scroll-behavior: smooth;
}

main {
  padding-bottom: 5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 1.4rem;
  padding: 1rem 1.8rem;
}

h4 {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.title-section {
  border-top: 0.125rem solid #0B0B0B;
  border-bottom: 0.125rem solid #0B0B0B;
}

.padding-wrap {
  padding-right: 1rem;
  padding-left: 1rem;
}

.margin-wrap {
  margin-right: 1rem;
  margin-left: 1rem;
}

.title-section {
  border-bottom: 0.125rem solid #0B0B0B;
}

@media screen and (width > 800px) {
  main {
    padding-bottom: 0;
  }
}
.categories-nav {
  background-color: #FFFFFF;
  font-size: 1.5rem;
  position: sticky;
  z-index: 10;
  top: 0;
  border-bottom: 0.125rem solid #0B0B0B;
}
.categories-nav__categories-tabs {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  justify-content: center;
}
.categories-nav .categories-tabs__tab-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: #535353;
  cursor: pointer;
  padding: 1.3rem 0;
  transition: all 0.3s ease;
  position: relative;
}
.categories-nav .categories-tabs__tab-item i {
  text-align: center;
  font-size: 2.5rem;
  color: #535353;
}
.categories-nav .categories-tabs__tab-item::after {
  content: "";
  bottom: 0;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #0B0B0B;
  opacity: 0;
  transition: all 0.3s ease;
}
.categories-nav .categories-tabs__tab-item i::before {
  color: #535353;
}
.categories-nav .categories-tabs__tab-item span {
  font-size: 1rem;
}
.categories-nav .categories-tabs__tab-item:hover {
  color: #0B0B0B;
}
.categories-nav .categories-tabs__tab-item:hover::after {
  opacity: 1;
}
.categories-nav .categories-tabs__tab-item:hover i::before {
  color: #0B0B0B;
}
.categories-nav .categories-tabs__tab-item.active {
  color: #FF4A4C;
}
.categories-nav .categories-tabs__tab-item.active::after {
  background-color: #FF6969;
  opacity: 1;
}
.categories-nav .categories-tabs__tab-item.active i::before {
  color: #FF4A4C;
}

.products__title {
  border-bottom: 0.125rem solid #0B0B0B;
}
.products__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}
.products__container .products__product-card {
  width: 100vw;
  min-height: 50vw;
  text-align: center;
  border: 0.125rem solid #0B0B0B;
  position: relative;
  transition: all 0.2s ease;
}
.products__container .products__product-card:hover {
  border: 0.2rem solid #0B0B0B;
}
.products__container .products__product-card .product-card__name::after {
  content: "";
  height: 2px;
  background-color: #0B0B0B;
  margin-top: 2px;
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.products__container .products__product-card:hover .product-card__name::after {
  opacity: 1;
}
.products__container .products__product-card .product-card__price-tag {
  position: absolute;
  background-color: white;
  top: 0.5rem;
  left: -0.5rem;
  padding: 0.3rem 2rem 0.3rem 0.5rem;
  border-radius: 0 1rem 1rem 0;
  border: 0.125rem solid #0B0B0B;
  font-weight: 500;
}
.products__container .products__product-card .product-card__add-to-cart-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  min-width: 25px;
  min-height: 25px;
  padding: 0;
  border: 0.125rem solid #0B0B0B;
  background-color: #FFF1D7;
  font-size: 0.8rem;
  font-weight: 600;
  color: #0B0B0B;
  text-align: center;
  vertical-align: middle;
  display: none;
}
.products__container .products__product-card .product-card__image {
  padding: 1.8rem 0;
  background-color: #F3F3F3;
  height: 70%;
  display: flex;
}
.products__container .products__product-card .product-card__image img {
  margin: auto;
  width: 50%;
}
.products__container .products__product-card .product-card__info {
  padding: 1.5rem 0;
  border-top: 0.125rem solid #0B0B0B;
  height: 30%;
}
.products__container .products__product-card .product-card__info .product-card__name {
  font-weight: 500;
  margin-top: 0;
  display: inline-block;
}
.products__container .products__product-card .product-card__info .product-card__category {
  color: #494746;
  display: block;
}

/*   MEDIA QUERIES   */
@media screen and (width > 485px) {
  .products .products__container .products__product-card {
    width: 45vw;
    min-height: 60vw;
  }
}
@media screen and (width > 800px) {
  .products .products__container .products__product-card {
    width: 30vw;
    min-height: 35vw;
  }
  .products .products__container .products__product-card .product-card__add-to-cart-btn {
    display: block;
  }
  .categories-nav {
    top: 4.4rem;
  }
  .categories-nav .categories-tabs__tab-item i {
    display: none;
  }
}
@media screen and (width > 1000px) {
  .products .products__container .products__product-card {
    width: 23vw;
    min-height: 30vw;
  }
}
@media screen and (width > 1250px) {
  .products .products__container .products__product-card {
    width: 18.4vw;
    min-height: 30vw;
  }
}
.main-header {
  width: 100vw;
  height: 4.5rem;
  background-color: white;
  padding: 0 2rem;
  border-bottom: 0.125rem solid #0B0B0B;
}

.main-header__nav {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__nav .nav__logo {
  height: inherit;
  display: inherit;
  align-items: center;
}
.main-header__nav .nav__logo a {
  display: flex;
  align-items: center;
}
.main-header__nav .nav__logo img {
  width: 3.125rem;
  height: auto;
}
.main-header__nav .nav__logo span {
  margin-top: 0.625rem;
  font-family: "Quicksand";
  font-weight: bold;
}
.main-header__nav .nav__menu {
  display: none;
  gap: 1rem;
  align-items: center;
}
.main-header__nav .nav__menu a:hover {
  text-decoration: underline;
}
.main-header__nav .nav__right-buttons {
  display: flex;
  gap: 1.2rem;
  font-size: 1.4rem;
}
.main-header__nav .nav__right-buttons i {
  cursor: pointer;
}
.main-header__nav .nav__right-buttons .right-buttons__shopping-cart {
  display: none;
}

@media screen and (width > 800px) {
  .main-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999999;
  }
  .main-header__nav .nav__menu {
    display: flex;
  }
  .main-header__nav .nav__right-buttons .right-buttons__shopping-cart {
    display: block;
  }
}
.hero-starred {
  display: flex;
  height: 40vw;
  font-family: "DM Sans";
}

.hero-starred__hero-item {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: width 0.5s ease;
  border-right: 0.125rem solid #0B0B0B;
}
.hero-starred__hero-item:hover .hero-item__filter {
  background-color: rgba(0, 0, 0, 0.3);
}
.hero-starred__hero-item:hover .hero-item__details .details__order-now {
  background-color: rgba(0, 0, 0, 0.4);
}
.hero-starred__hero-item:first-of-type {
  border-left: 0.125rem solid #0B0B0B;
}
.hero-starred__hero-item:nth-of-type(2), .hero-starred__hero-item:nth-of-type(3) {
  display: none;
}
.hero-starred__hero-item .hero-item__filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
  transition: background-color 0.5s ease;
}
.hero-starred__hero-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-starred__hero-item .hero-item__details {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 2;
}
.hero-starred__hero-item .hero-item__details h2 {
  font-weight: 600;
  font-size: 1.6rem;
  font-family: inherit;
}
.hero-starred__hero-item .hero-item__details .details__order-now {
  background-color: inherit;
  border: 0.125rem solid white;
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.4s ease;
  border-radius: 0.2525rem;
  font-family: inherit;
  font-size: 0.7rem;
  letter-spacing: 0.06rem;
}
.hero-starred__hero-item .hero-item__details .details__order-now:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (width > 800px) {
  .hero-starred__hero-item {
    width: 34%;
    transition: width 0.5s ease;
  }
  .hero-starred__hero-item:hover {
    width: 80%;
  }
  .hero-starred__hero-item:nth-of-type(2), .hero-starred__hero-item:nth-of-type(3) {
    display: block;
  }
}
.values-section {
  display: none;
  justify-content: space-around;
  padding: 2rem 1rem;
}
.values-section__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.values-section__item h3 {
  font-weight: 600;
}
.values-section__item p {
  font-weight: 500;
}

@media screen and (width > 800px) {
  .values-section {
    display: flex;
  }
}
.favorites-products {
  overflow: hidden;
}
.favorites-products .title-section {
  border-bottom: none;
}
.favorites-products__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 65vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.favorites-products__container .favorites-products__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 40vw;
  height: inherit;
  border-top: 0.125rem solid #0B0B0B;
  border-bottom: 0.125rem solid #0B0B0B;
  border-right: 0.125rem solid #0B0B0B;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
}
.favorites-products__container .favorites-products__item img {
  width: 60%;
  object-fit: contain;
  height: 40%;
  transform: translateY(50%);
  transition: all 0.4s ease;
}
.favorites-products__container .favorites-products__item .item__details {
  height: 35%;
  width: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateY(150%);
  border-top: 0.125rem solid #0B0B0B;
}
.favorites-products__container .favorites-products__item .item__details .details__title {
  font-size: 1.3rem;
  font-weight: 500;
}
.favorites-products__container .favorites-products__item:hover {
  justify-content: space-between;
}
.favorites-products__container .favorites-products__item:hover img {
  transform: translateY(25%);
}
.favorites-products__container .favorites-products__item:hover .item__details {
  transform: translateY(0);
  opacity: 1;
}
.favorites-products__container .favorites-products__item:nth-of-type(1) {
  background-color: rgba(226, 137, 137, 0.35);
}
.favorites-products__container .favorites-products__item:nth-of-type(2) {
  background-color: rgba(137, 210, 226, 0.35);
}
.favorites-products__container .favorites-products__item:nth-of-type(3) {
  background-color: rgba(226, 196, 137, 0.35);
}
.favorites-products__container .favorites-products__item:nth-of-type(4) {
  background-color: rgba(249, 195, 195, 0.35);
}
.favorites-products__container .favorites-products__item:nth-of-type(5) {
  background-color: rgba(226, 137, 164, 0.35);
}
.favorites-products__container .favorites-products__item:nth-of-type(6) {
  background-color: rgba(226, 137, 137, 0.35);
}
.favorites-products__container .favorites-products__item:nth-of-type(7) {
  background-color: rgba(226, 137, 137, 0.35);
}
.favorites-products__container .favorites-products__item:nth-of-type(8) {
  background-color: rgba(226, 137, 137, 0.35);
}
.favorites-products__container .favorites-products__item:nth-of-type(9) {
  background-color: rgba(226, 137, 137, 0.35);
}
.favorites-products__container .favorites-products__item:last-child {
  border-right: none;
}

@media screen and (width > 800px) {
  .favorites-products .favorites-products__container {
    height: 35vw;
  }
  .favorites-products .favorites-products__container .favorites-products__item {
    width: 23vw;
  }
}
@media screen and (width > 1250px) {
  .favorites-products .favorites-products__container {
    height: 25vw;
  }
  .favorites-products .favorites-products__container .favorites-products__item {
    width: 18vw;
  }
}
.burger-menu-view {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #F9F9F9;
  display: none;
}

.burger-menu-view.visible {
  display: flex;
  flex-direction: column;
}

body:has(.burger-menu-view.visible) {
  overflow: hidden;
}

.close-btn {
  display: block;
  border: 0.125rem solid #0B0B0B;
  width: fit-content;
  background-color: white;
  color: #0B0B0B;
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
.close-btn i {
  font-size: 1.2rem;
}

.search-field {
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;
}

.search-field__input {
  font-size: 1.1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.125rem solid #0B0B0B;
  border-radius: inherit;
}

.burger-menu-view__burger-menu .burger-menu__list .list__nav-item {
  border-bottom: 0.125rem solid #0B0B0B;
  background-color: white;
  font-size: 1.325rem;
  font-weight: 500;
  transition: all 0.2s ease;
}
.burger-menu-view__burger-menu .burger-menu__list .list__nav-item:first-child {
  border-top: 0.125rem solid #0B0B0B;
}
.burger-menu-view__burger-menu .burger-menu__list .list__nav-item:hover {
  background-color: #F3F3F3;
}
.burger-menu-view__burger-menu .burger-menu__list .list__nav-item a {
  display: flex;
  padding: 1.125rem 2rem;
}
.burger-menu-view__burger-menu .burger-menu__list .list__nav-item i:first-child {
  margin-right: 1rem;
}
.burger-menu-view__burger-menu .burger-menu__list .list__nav-item i:last-child {
  margin-left: auto;
}
.burger-menu-view__burger-menu .burger-menu__list .list__nav-item span::after {
  content: "";
  height: 2px;
  background-color: #0B0B0B;
  margin-top: 2px;
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.burger-menu-view__burger-menu .burger-menu__list .list__nav-item:hover span::after {
  opacity: 1;
}

.burger-menu-view .social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.burger-menu-view .social-icons__icon {
  transition: color 0.3s ease;
}
.burger-menu-view .social-icons__icon:hover {
  color: #FF6969;
}

.bottom-nav-bar {
  display: grid;
  grid-template-rows: 4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  border-top: 0.07rem solid black;
}

.bottom-nav-bar button {
  font-size: 1.5rem;
  background-color: white;
  height: inherit;
  border: inherit;
  border-right: 0.125rem solid black;
  color: black;
}

.bottom-nav-bar button:last-of-type {
  border-right: none;
}

/*   MEDIA QUERIES   */
@media screen and (width > 800px) {
  .bottom-nav-bar {
    display: none;
  }
}
footer.main-footer {
  padding-bottom: 100px;
  padding-top: 40px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  background-color: #1C1919;
  color: white;
  font-weight: 500;
  text-align: center;
}
footer.main-footer li {
  margin: 10px 0;
}
footer.main-footer a:hover {
  text-decoration: underline;
}
footer.main-footer .col3__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 3rem;
}
footer.main-footer .main-footer__col4 {
  color: #D0CECE;
}

@media screen and (width > 600px) {
  footer.main-footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer.main-footer .main-footer__col1 {
    width: 40vw;
  }
  footer.main-footer .main-footer__col2 {
    width: 40vw;
  }
}
@media screen and (width > 800px) {
  footer.main-footer {
    flex-direction: row;
    padding-bottom: 40px;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: left;
  }
  footer.main-footer .main-footer__col1 {
    width: auto;
  }
  footer.main-footer .main-footer__col2 {
    width: auto;
  }
  footer.main-footer .col3__list {
    gap: 30px;
    font-size: 2.5rem;
  }
  footer.main-footer .main-footer__col4 {
    width: 280px;
  }
}

/*# sourceMappingURL=styles.css.map */
